body {
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

.header {
    box-sizing: border-box;
    height: 75px;
    margin: 0;
    padding: 0 125px;
    background-color: black;
    border-bottom: 5px solid rgb(53, 53, 253);
    box-shadow: 3px 0 5px -1px rgb(39, 38, 38);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome-empresa {
    color: rgb(53, 53, 253);
    border: 1px groove rgb(53, 53, 253);
    padding: 1px 2px 1px 4px;
    border-radius: 3px;
    font-size: 2rem;
    margin: 0;
    font-family: monospace;
}

.navbar {
    display: flex;
    column-gap: 30px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar li {
    float: left;
    list-style-type: none;
    font-weight: 1000;
}

a {
    text-decoration: none;
    color: #E3B062  ;
}

a:hover {
    text-decoration: underline;
    color: orange;
}